<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results Page</title>
    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/styleSucc.css")}}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
    <div class="second-main">
        <nav>
            <ul class="main-nav" style="padding-right: 2%;">
                <li><a href ="/" style="color: white;">HomePage</a></li> 
            </ul>
        </nav>
        <div class="header">
            <row style="width: 100%; display: flex; justify-content: center;">
                <h3 class="header-text" style="color: white;">Uploaded Image</h3>
            </row>
            <row style="width: 100% ; display: flex; justify-content: center;">
                <img class="result-img" src={{url_for("static", filename="images/"+ img)}}>
            </row>
        </div>

        <div class="info">
            <row style="width: 100%; display: flex; justify-content: center;">
                <h3 class="header-text" style="color: white;">Model Prediction</h3>
            </row>
            <row style="width: 100%; display: flex; justify-content: center;">
                <table class="table-bordered text-light table-custom">
                    <tr>
                        <th scope="col" style="text-align: center;">Rank</th>
                        <th scope="col" style="text-align: center;">Class</th>
                        <th scope="col" style="text-align: center;">Probability</th>
                    </tr>
                    <tr>
                        <td>1st</td>
                        <td>{{ predictions.class1 }}</td>
                        <td>{{ predictions.prob1 }} %</td>
                    </tr>
                    <tr>
                        <td>2nd</td>
                        <td>{{ predictions.class2 }}</td>                                                         
                        <td>{{ predictions.prob2 }} %</td>                                                      
                    </tr>                                                                                                               
                    <tr>
                        <td>3rd</td>
                        <td>{{ predictions.class3 }}</td>
                        <td>{{ predictions.prob3 }} %</td>
                    </tr>
                </table>
            </row>
        </div>
    </div>
    
</body>
</html>